.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    max-width: 1440px;
    width: 100%;
    height: auto;
    padding: 100px 0;
    gap: 24px;
}

.gallery-item {
    width: calc((100% - 48px)/3);
    box-sizing: border-box;
}

.gallery-img {
    width: 100%;
    height: auto;
}